.wrapper {
    margin: 0 auto;
}
@media (max-width: 1120px) {
    .wrapper {
    }
}

@media (min-width: 800px) {
  body {
    width: 800px;
    margin: auto;
  }
}

div.gsc-control-cse {
    padding: 0;
}

.search form.gsc-search-box {
    margin: 0;
}

table.gsc-search-box {
    margin: 0px;
}

.header {
    font-family: 'Noto Sans KR', sans-serif ;
    background-color: transparent;
    position: relative;

    .site-right-div {
        vertical-align: bottom;
        display: inline-block;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .site-title {
        font-size: 1.8rem; 
        float: left;
        text-decoration: none;
        color: #000000cc;
        line-height: 1.3;
        font-weight: 600;
    }

    #nav-menu {
        vertical-align: bottom;
        display: inline-block;
        position: absolute;
        right: 0;
        bottom: 0;  
        @media (min-width: 940px) {
            display:none;
          }
    }
    .site-right-menu {
        float: right;
        text-decoration: none;
        color: #000000cc;
        line-height: 1.3;
        padding-right: 10px;

    }
    .searchButton {
        float: right;
        text-decoration: none;
        color: #000000cc;
        line-height: 1.3;
        border:none;
        background-color: transparent;
    }
}

.page-content {
    background:#FFFFFF;

    img {
        max-width:100%;
    }
}

.post {

    overflow-x: auto;
    padding: 5px 0px 5px 0px; 

    table {
        border-collapse: collapse;
        border-spacing: 0;
        border-color: #000000;
        margin-bottom: 10px;

        td, th {
            border: 1px solid $third-font-color;
            padding: 5px 5px;
        }
        th {
            font-weight:normal;
            color: #FFFFFF;
            background: $theme-color
        }
        tr:nth-child(even) {
            background-color: #f4f4f4;
        }
        tr:hover {
            background: #BEE7F6;
        }
    }
}
.toc {
    background: #EEE;
}
.post-tag a {
    color: #888888;
    text-decoration: none;
}
@media (max-width: 1120px) {
    .page-content .wrapper:before {
        display: none;
    }
}

.menu-open {
//   @include open(-14rem);
}
.footer {
    text-align:center;
}

ul.tag-list {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
        float: left;
    }

    li a {
        padding-right: 5px;
        text-decoration: none;
    }
}

.post-link {
    text-decoration: none;
}

.no-text-deco {
    a {
        text-decoration: none;
    }
}

.section-nav {
  background-color: #FFF;
  margin: 5px 0;
  padding: 10px 30px;
  border: 1px solid #E8E8E8;
  border-radius: 3px;
}

.history-button {
    text-align: right;
    font-size: 0.8em;
}

.title-summary {
    font-size: 1.0em;
    color: #333333;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

.pagination {
    text-align:center;

    a {
        font-size: 1em;
        margin: 2px;
        padding: 2px;
        text-decoration: none;
        border-radius: 10px;
        border: 0px solid $theme-color;
        background-color: $theme-color;
        color: #FFFFFF;
    }

    a.active {
        border: 0px solid transparent;
        background-color: transparent;
        color: #000000;
    }
}

.pagination li {
    display: inline-block;
}
.tag-list li {
    display: inline-block;
}

div.search {
    background-color: #f6f5ea;
    border-bottom: 1px solid $theme-color;
    line-height: 1;
}
.searchInput {
    background-color: transparent;
    top: 0;
    position: relative;
    padding: 0px;
    padding-left: 5px;
    border: 0px;
    margin: 0px;
    font-size: 13px;
    direction: ltr;
    -webkit-appearance: textfield;
    border-radius: 0px;
}

.post-header {
    h2 {
        border: 0px;
    }
    p {
        margin: 0;
    }
}

.post-excerpt {
    font-size: 0.9em;
    color: $forth-font-color;
}

.by-line {
    display: block;
    color: #404040;
    line-height: 1.8em;
    font-weight: 400;
}

.post-list {
    list-style: none;
    padding-inline-start: 0px;
}

.post-meta {
    font-size: 16px;
}

#nav-menu {
  @media (min-width: 940px) {
    display:none;
  }
}

#menu {
  height: 4px;
  width: 24px; 
  background-color: $text-color;
  margin-top: 8px;
  &:after, &:before {
    content: "";
    display: block;
    position: relative;
    height: 4px;
    width: 24px;
    background-color: $text-color;
    transition: all 0.3s ease-in;
  }
  &:before {
    top: -8px;
  }
  &:after {
    top: 4px;
  }
  &.btn-close {
    background: none;
  }
  &.btn-close:before {
    top: 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background-color: $text-color;
  }
  &.btn-close:after {
    top: -4px;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: $text-color;
  }
}

@mixin icon-position($position) {
	display: block;
  position: fixed;
  top: 35px;
  #{$position}: 25px;
  z-index: 10;
  height: 24px;
}
